/**{*/
    /*width: 950px;*/
    /*margin: auto;*/
/*}*/

body, html{
    height: 100%;
    width: 100%;
}

.bg{
    background-image:url("puplic/sun2.jpeg") ;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.text{
    text-align: center;
    padding-bottom: 10px;
}
.h1{
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 5px #888;
}
.input{
    border-radius: 0px;
    padding: 20px;

}
